annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1736174388474/work
appdirs==1.4.4
asttokens==2.2.1
attrs==25.1.0
azure-core==1.32.0
azure-identity==1.19.0
azure-storage-blob==12.24.1
backcall==0.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.7
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm==0.1.3
cryptography==44.0.0
cssselect==1.2.0
debugpy==1.6.7
decorator==5.1.1
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1733256735222/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1733300719943/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing==1.2.0
fake-useragent==2.0.3
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1733362299471/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1734302308128/work
googletrans==4.0.2
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httptools @ file:///D:/bld/httptools_1732707690819/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
ipykernel==6.24.0
ipython==8.14.0
isodate==0.7.2
jedi==0.18.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
joblib==1.3.2
jupyter_client==8.3.0
jupyter_core==5.3.1
lxml==5.3.0
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///D:/bld/markupsafe_1733219614059/work
matplotlib-inline==0.1.6
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
motor==3.6.1
msal==1.31.1
msal-extensions==1.2.0
nest-asyncio==1.5.6
nltk==3.8.1
outcome==1.3.0.post0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
parse==1.20.2
parso==0.8.3
pickleshare==0.7.5
platformdirs==3.8.0
portalocker==2.10.1
prompt-toolkit==3.0.39
psutil==5.9.5
publicsuffix2==2.20191221
pure-eval==0.2.2
py-mini-racer==0.6.0
pycparser==2.22
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1736458246045/work
pydantic_core @ file:///D:/bld/pydantic-core_1734571360609/work
pyee==11.1.1
Pygments==2.15.1
PyJWT==2.10.1
pymongo==4.9.2
pyppeteer==2.0.0
pyquery==2.0.1
PySocks==1.7.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1733243180666/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1734420773152/work
pywin32==306
PyYAML @ file:///D:/bld/pyyaml_1725456353121/work
pyzmq==25.1.0
regex==2023.12.25
requests==2.32.3
requests-html==0.10.0
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1733750834/work
selenium==4.28.1
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
sortedcontainers==2.4.0
soupsieve==2.6
stack-data==0.6.2
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette_1733344384719/work
tornado==6.3.2
tqdm==4.67.1
traitlets==5.9.0
trio==0.28.0
trio-websocket==0.11.1
typer==0.15.1
typer-slim==0.15.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
urllib3==1.26.20
uvicorn @ file:///D:/bld/uvicorn_1734292951833/work
w3lib==2.3.1
watchfiles @ file:///D:/bld/watchfiles_1736550434446/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==10.4
wsproto==1.2.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
